/* Dark mode styles */
:root {
  --background-light: #ffffff;
  --text-light: #000000;
  --background-dark: #1a1a1a;
  --text-dark: #ffffff;
}

body {
  background-color: var(--background-light);
  color: var(--text-light);
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode body {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

.dark-mode .nav-links a,
.dark-mode .hamburger-nav a {
  color: var(--text-dark);
}

.dark-mode .btn {
  background-color: var(--text-dark);
  color: var(--background-dark);
}

.dark-mode .btn:hover {
  background-color: #e0e0e0;
}

.dark-mode .details-container {
  background-color: #2a2a2a;
}

.dark-mode .card,
.dark-mode .project-card {
  background-color: #2a2a2a;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.dark-mode .icon {
  filter: invert(1);
}

.dark-mode .menu-links a {
  color: white;
  background-color: black;
}

.dark-mode .contact-info-container a {
  color: white;
}

.theme-toggle {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0 10px;
}

.dark-mode footer {
  padding-top: 2rem;
}

/* Add more dark mode styles as needed */
